/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* variables */
/* colors */
/* classes */
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 300; }

.content {
  font-family: "Merriweather", serif;
  font-size: 2.2rem;
  font-weight: 200; }

.fadeInUpAgain {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.light {
  font-weight: 100; }

.icon {
  font-size: 1.6rem;
  margin: 1%;
  color: #979595;
  transition: all 0.4s ease-in-out; }
  .icon:hover {
    color: #ecf0f1;
    transition: all 0.4s ease-in-out; }

.white {
  color: #ecf0f1; }

body {
  /* base content styling */
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  background: #ecf0f1; }

a {
  text-decoration: none; }

.main-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.2vw;
  flex-wrap: nowrap; }
  .main-wrapper--title {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #0D1130;
    color: #ecf0f1;
    font-size: 8rem;
    text-align: center;
    border-radius: 5px; }
    .main-wrapper--title-text {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      font-weight: 100;
      font-size: 7rem; }
    .main-wrapper--title-last-login {
      font-size: 1.5rem;
      width: auto;
      background: #ecf0f1;
      color: #0D1130;
      padding: 1vw;
      border: 4px solid #0D1130; }
  .main-wrapper--body {
    display: flex;
    width: 100%; }
    .main-wrapper--body--activity {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      background: #0D1130;
      color: #ecf0f1;
      margin-top: 3vh;
      /* flex-direction: column;
      align-items: center; */ }
      .main-wrapper--body--activity--title {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center; }
      .main-wrapper--body--activity--item {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
        width: 100%;
        height: 4vh;
        background: #ecf0f1;
        color: #0D1130;
        font-size: 1.4rem;
        padding: 1.4%;
        border: 4px solid #0D1130;
        border-bottom: 0;
        max-width: 100vw; }
        .main-wrapper--body--activity--item:last-child {
          border-bottom: 4px solid #0D1130; }
    .main-wrapper--body--logout {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 9vh;
      background: #0D1130;
      color: #ecf0f1;
      border: 4px solid #0D1130;
      margin-top: 2%;
      transition: all 0.4s ease-in-out; }
      .main-wrapper--body--logout:hover {
        background: #ecf0f1;
        color: #0D1130;
        font-weight: 200;
        transition: all 0.4s ease-in-out; }

.modal {
  display: flex;
  flex-direction: column;
  padding: 3% 3% 0 3%;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  background: #0D1130;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-x: hidden; }
  .modal--title {
    font-size: 2.1rem; }
  .modal--event {
    margin: 1.8% 0 1.8% 0;
    font-size: 2.1rem; }
  .modal--text {
    font-size: 1.4rem;
    padding-right: 8%;
    line-height: 4.4vh;
    font-style: italic; }

#close {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2%;
  font-size: 2.5rem; }

/*# sourceMappingURL=profile.css.map */
