/* Eric Meyer's CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   This is a Sass partial
   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* variables */
/* colors */
/* classes */
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 300; }

.content {
  font-family: "Merriweather", serif;
  font-size: 2.2rem;
  font-weight: 200; }

.fadeInUpAgain {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.light {
  font-weight: 100; }

.icon {
  font-size: 1.6rem;
  margin: 1%;
  color: #979595;
  transition: all 0.4s ease-in-out; }
  .icon:hover {
    color: #ecf0f1;
    transition: all 0.4s ease-in-out; }

.white {
  color: #ecf0f1; }

.orange {
  color: #FF5A09; }

body {
  /* base content styling */
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  background: #ecf0f1; }

a {
  text-decoration: none; }

.main-wrapper {
  display: flex;
  max-width: 100%;
  height: auto;
  flex-direction: column;
  padding: 2.2vw;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: hidden; }
  .main-wrapper--chart {
    height: 65vh;
    margin-top: 1.5vh; }
  .main-wrapper--table {
    width: 100%;
    margin-top: 3.5vh; }
  .main-wrapper--title {
    /* &-last-login{
    	font-size: 1.5rem;
    	width: auto;
    	background: $off-white;
    	color: $new-black;
    	padding: 1vw;
    	border: 4px solid $new-black;
    } */ }
    .main-wrapper--title-text {
      display: flex;
      width: 100%;
      background: #0D1130;
      color: #ecf0f1;
      padding: 1.2vh 0 1.2vh 0;
      font-size: 5.5rem;
      text-align: center;
      border-radius: 5px;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      font-weight: 100; }

/*** Table Styles **/
.table-fill {
  background: white;
  border-radius: 4px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite; }

th {
  color: #ecf0f1;
  background: #0D1130;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle; }

th:first-child {
  border-top-left-radius: 3px; }

th:last-child {
  border-top-right-radius: 3px;
  border-right: none; }

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); }

tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e; }

tr:first-child {
  border-top: none; }

tr:last-child {
  border-bottom: none; }

tr:nth-child(odd) td {
  background: #EBEBEB; }

tr:nth-child(odd):hover td {
  background: #4E5066; }

tr:last-child td:first-child {
  border-bottom-left-radius: 3px; }

tr:last-child td:last-child {
  border-bottom-right-radius: 3px; }

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  line-height: 3.5vh; }

td:last-child {
  border-right: 0px; }

th.text-left {
  text-align: left; }

th.text-center {
  text-align: center; }

th.text-right {
  text-align: right; }

td.text-left {
  text-align: left; }

td.text-center {
  text-align: center; }

td.text-right {
  text-align: right; }

body {
  /* base content styling */
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  background: #ffffff; }

/*# sourceMappingURL=stats.css.map */
