.main-wrapper{
	height: auto;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.2vw;

	flex-wrap: nowrap;
	// justify-content: center;

	&--title{
		display: flex;
		width: 100%;
		flex-direction: column;

		background: $new-black;
		color: $off-white;

		font-size: 8rem;
		text-align: center;

		border-radius: 5px;

		&-text{
			display: flex;
			flex-grow: 1;
			align-items: center;
			justify-content: center;

			// height: 23vh;

			font-weight: 100;
			font-size: 7rem;
		}

		&-last-login{
			font-size: 1.5rem;
			width: auto;
			background: $off-white;
			color: $new-black;
			padding: 1vw;
			border: 4px solid $new-black;
		}
	}

	&--body{
		display: flex;
		// flex-grow: 9;
		width: 100%;

		&--activity{
			display: flex;
			width: 100%;
			flex-wrap: wrap;

			background: $new-black;
			color: $off-white;

			margin-top: 3vh;

			/* flex-direction: column;
			align-items: center; */

			&--title{
				width: 100%;
				height: 10vh;

				display: flex;
				align-items: center;
				justify-content: center;
			}

			&--item{
				display: flex;
				align-items: center;
				justify-content: center;

				overflow-x: auto;

				width: 100%;
				height: 4vh;
				background: $off-white;
				color: $new-black;

				font-size: 1.4rem;
				padding: 1.4%;

				border: 4px solid $new-black;
				border-bottom: 0;

				max-width: 100vw;

				// margin-top: 0.5vh;
				// margin-top: 0.3vh;
				&:last-child{
					border-bottom: 4px solid $new-black;
				}
			}
		}

		&--logout{
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: 9vh;

			background: $new-black;
			color: $off-white;

			border: 4px solid $new-black;

			margin-top: 2%;

			transition: all 0.4s ease-in-out;

			&:hover{
				background: $off-white;
				color: $new-black;
				font-weight: 200;

				transition: all 0.4s ease-in-out;
			}
		}
	}
}