.main-wrapper{
	display: flex;
	max-width: 100%;
	height: auto;
	flex-direction: column;

	padding: 2.2vw;
	flex-wrap: nowrap;
	align-items: center;

	overflow-x: hidden;

	&--chart{
		height: 65vh;
		// width: 100%;

		margin-top: 1.5vh;
	}

	&--table{
		width: 100%;
		margin-top: 3.5vh;
	}

	&--title{	
		&-text{
			display: flex;
			width: 100%;
	
			background: $new-black;
			color: $off-white;
			padding: 1.2vh 0 1.2vh 0;

			font-size: 5.5rem;
			text-align: center;
	
			border-radius: 5px;

			flex-grow: 1;
			align-items: center;
			justify-content: center;

			font-weight: 100;
		}

		/* &-last-login{
			font-size: 1.5rem;
			width: auto;
			background: $off-white;
			color: $new-black;
			padding: 1vw;
			border: 4px solid $new-black;
		} */
	}
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:4px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  // max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color: $off-white;;
	// background:#1b1e24;
	background: $new-black;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
/* tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
} */
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
/* tr:nth-child(odd):hover td {
  background:#4E5066;
} */

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;

  line-height: 3.5vh;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 9vh;

  background: $new-black;
  color: $off-white;

  border: 4px solid $new-black;

  margin-top: 2%;

  transition: all 0.4s ease-in-out;

  &:hover{
    background: $off-white;
    color: $new-black;
    font-weight: 200;

    transition: all 0.4s ease-in-out;
  }
}
