/* variables */
$title-font: 'Montserrat', sans-serif !global;
$content-font: 'Merriweather', serif !global;

/* colors */
$dark-black: #15120B !global;
$off-white: #ecf0f1 !global;

$dull-blue: #011825 !global;
$side-nav-color: #051B2B !global;

/* classes */
.title{
	font-family: $title-font;
	font-size: 2.5rem;
	font-weight: 300;
}

.content{
	font-family: $content-font;
	font-size: 2.2rem;
	font-weight: 200;	
}

.fadeInUpAgain {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.light{
	font-weight: 100;
}