.modal{
	display: flex;
	flex-direction: column;
	padding: 3% 3% 0 3%;

	min-height: 100vh;
	width: 100%;
	max-width: 100vw;
	background: $new-black;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	overflow-x: hidden;

	&--title{
		font-size: 2.1rem;
	}

	&--event{
		margin: 1.8% 0 1.8% 0;
		font-size: 2.1rem;
	}

	&--text{
		font-size: 1.4rem;
		padding-right: 8%;
		line-height: 4.4vh;
		font-style: italic;
	}
}

#close{
	position: fixed;
	top: 0;
	right: 0;
	margin: 2%;
	font-size: 2.5rem;
}